{% extends 'base.html'%} {% block content %}
<br>
<br>
<br>

<body>
    <h1> {{id}} </h1>
    <div class="container">
        <div class="card-columns">
            {% for article in articles %}

            <div class="card">
                <img class="card" src="{{news.image}}" alt="Card image cap" size="100px180">
                <div class="card-body">
                    <h5 class="card-title">{{news.author}}</h5>
                    <p class="card-text">{{ news.description}}</p>
                    <a href="{{news.url}}">
                        <p class="card-text">Click here for more details!</p>
                    </a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">News date:{{news.time}}</small>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}
</body>