<div class="navbar navbar-inverse" role="navigation">
    <nav class="navbar navbar-light" style="background-color: red;"></nav>
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"> LateLateMorningNews </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/">General News</a></li>
                <li><a href="/">Business</a></li>
                <li><a href="/">Entertainment</a></li>
                <li><a href="/">Technology</a></li>
        </div>

    </div>
</div>